<!--(c) adarsh-goel-->
<!--(c) Rishikesh-Sharma09-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://fastdl.webappbazaar.com/filetolink.css">
 
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.9/plyr.css" />
<script type='text/javascript' src='//televisionjitter.com/53/11/b3/5311b3545ab139202d24c04616d40184.js'></script>


</head>

<body>
<header>
	   <marquee bgcolor="#004AAD"
<div class="toogle"></div>
        <div id="file-name">
            %s
        </div>
</marquee>
</header>

    <div class="container">
        <tag src="%s" class="player"></tag>
    </div>

    <footer>

    </footer>
    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
	<script>
        const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'volume',
              'captions',
              'settings',
              'pip',
              'airplay',
              'download',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
    </script>
	
<script async='async' src='https://www.googletagmanager.com/gtag/js?id=G-FG1FCE5327'></script>
<script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-FG1FCE5327');
        </script>
<center>
	<br/>
	<script type="text/javascript">
	atOptions = {
		'key' : '7f465f80def2853ab59551ebcd3f359e',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//televisionjitter.com/7f465f80def2853ab59551ebcd3f359e/invoke.js"></scr' + 'ipt>');
</script>
</center>
</body>
	    </html>
